---
layout: default
toc: true
---

<link rel="stylesheet" href="/public/css/gradient.css" />
<link rel="stylesheet" href="/public/css/tocside.css" />

<div class="post-categories">
  {% if post %} {% assign categories = post.categories %} {% else %} {% assign
  categories = page.categories %} {% endif %} {% for category in categories %}
  <a href="{{site.baseurl}}/category/{{category|slugize}}.html">
    <span class="gradtext">{{category}} </span></a
  >
  {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
</div>
<div class="tocside">
  <div id="table-of-contents">
    <span class="sidenav">
      <h3 class="no_toc">Contents</h3>
      {% toc %}
    </span>
  </div>
</div>
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% include post_tags.html %} {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
